// @import url("https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&family=Rubik:wght@500&family=Signika+Negative&display=swap");

*,
*::before,
*::after {
  margin: 0%;
  padding: 0%;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  background: transparent;

  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Signika Negative", sans-serif;
}

// color *******
$main: #fff;
$text: #000;

// padding section ********
$padding: 5vh 90px;
$smallPadding: 5vh 30px;
$phonePadding: 5vh 10px;

// phone padding ***********
$pagePadding: 14vh 90px;
$pageSmallPadding: 14vh 50px;
$paddingPhonePadding: 14vh 20px;

// font section (((((()))))))
$fontFamily: "Noticia Text", serif;

// elements ---------------------
button {
  border: none;
  cursor: pointer;
  background: none;
  transition: 0.2s ease all;
}

// breakpoints ************
@mixin breakpoint($size) {
  @if $size == md {
    @media (max-width: 900px) {
      @content;
    }
  }

  @if $size == sm {
    @media (max-width: 600px) {
      @content;
    }
  }
}

// some functions
@mixin pageSection {
  width: 100vw;
  height: auto;

  padding: $pagePadding;

  @include breakpoint(md) {
    padding: $pageSmallPadding;
  }

  @include breakpoint(sm) {
    padding: $paddingPhonePadding;
  }
}

@mixin flex {
  display: flex;
  flex-direction: column;
}

@mixin elementsPadding {
  width: 100vw;
  height: auto;

  padding: $pagePadding;

  @include breakpoint(md) {
    padding: $pageSmallPadding;
  }

  @include breakpoint(sm) {
    padding: $paddingPhonePadding;
  }
}
